body{
    height:  95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: grey;
    border-radius: 4px;
}

header{
    background-color: white;
    color: grey;  
}
